In [19]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
#stop = stopwords.words('english')
df_new= pd.read_csv('/home/manpreet/mps/cc/aclImdb_v1/aclImdb/movie_reviews.csv')
df_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>review</th>
      <th>sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>This movie had very few moments of real drama....</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>1</th>
      <td>I first saw this when it came out in the theat...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>2</th>
      <td>I find it almost touching how Star Trek fans t...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lois Weber, self proclaimed missionary via the...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>4</th>
      <td>This is a great TV miniseries of a classic nov...</td>
      <td>positive</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
from sklearn.utils import shuffle
df_new = shuffle(df_new)
df_new.head()

import re
def preprocessor(text):
    
   text = re.sub('<[^>]*>','',text)
   emoticons = re.findall('[:;=](?:-)', text)
   text = (re.sub('[\W]+',' ',text.lower())+ ' '.join(emoticons).replace('-',''))
   
   return text

In [26]:
preprocessor("</a>This is# a ;test ::-)!</a>")

'this is a test :'

In [30]:
df_new['review'] = df_new['review'].apply(preprocessor)
df_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>review</th>
      <th>sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3362</th>
      <td>richard pryor s early 80s running down the str...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>14154</th>
      <td>i have always loved old movies but this is one...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>10342</th>
      <td>a young and seemingly promising college gradua...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>47984</th>
      <td>as a huge fan or the cracker series i have bee...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>19209</th>
      <td>this movie is not schlock despite the lo fi pr...</td>
      <td>positive</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
df_new.index  =range(50000)
df_new.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>review</th>
      <th>sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>richard pryor s early 80s running down the str...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>1</th>
      <td>i have always loved old movies but this is one...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>2</th>
      <td>a young and seemingly promising college gradua...</td>
      <td>positive</td>
    </tr>
    <tr>
      <th>3</th>
      <td>as a huge fan or the cracker series i have bee...</td>
      <td>negative</td>
    </tr>
    <tr>
      <th>4</th>
      <td>this movie is not schlock despite the lo fi pr...</td>
      <td>positive</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
X_train = df_new.loc[:2500,'review'].values
y_train = df_new.loc[:2500,'sentiment'].values
X_test = df_new.loc[2500:5000,'review'].values
y_test = df_new.loc[2500:5000,'sentiment'].values

In [38]:
print(np.bincount(y_test))
print(np.unique(y_test))

TypeError: Cannot cast array data from dtype('O') to dtype('int64') according to the rule 'safe'

In [39]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.model_selection import GridSearchCV #hyper-path
from sklearn.model_selection import cross_val_score

In [22]:
tfidf = TfidfVectorizer(stop_words='english')

param_grid = {'clf__C':[1.0,10.0,100.0]}

In [23]:
Ir_tfidf = Pipeline([('vect',tfidf),('clf',LogisticRegression())])

gs_Ir_tfidf = GridSearchCV(Ir_tfidf,param_grid,scoring='english')

In [24]:
gs_Ir_tfidf.fit(X_train,y_train)

ValueError: 'english' is not a valid scoring value. Valid options are ['accuracy', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'average_precision', 'completeness_score', 'explained_variance', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'fowlkes_mallows_score', 'homogeneity_score', 'mutual_info_score', 'neg_log_loss', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_median_absolute_error', 'normalized_mutual_info_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'r2', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'roc_auc', 'v_measure_score']